<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="4.8.0-beta00001" targetFramework="net451" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00001" targetFramework="net451" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00001" targetFramework="net451" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00001" targetFramework="net451" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00001" targetFramework="net451" />
</packages>